amqp==1.4.9
anyjson==0.3.3
backports.shutil-get-terminal-size==1.0.0
billiard==3.3.0.23
celery==3.1.25
certifi==2022.12.7
chardet==3.0.4
decorator==4.2.1
Django==1.11.10
django-bootstrap3==9.1.0
django-celery==3.2.2
django-jsonview==0.4.3
enum34==1.1.6
future==0.16.0
idna==2.6
ipython==5.5.0
ipython-genutils==0.2.0
kombu==3.0.37
oauthlib==2.0.6
pathlib2==2.3.0
pexpect==4.3.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
ptyprocess==0.5.2
Pygments==2.2.0
PyJWT==1.5.3
python-openid==2.2.5
python-twitter==3.3
pytz==2017.3
requests==2.18.4
requests-oauthlib==0.8.0
scandir==1.6
simplegeneric==0.8.1
six==1.11.0
social-auth-app-django==2.1.0
social-auth-core==1.6.0
swapper==0.1.1
traitlets==4.3.2
tweepy==3.5.0
twitter-monitor==0.3.0
urllib3==1.22
vine==1.1.4
wcwidth==0.1.7
