{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Oauth Push Realtime</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="manifest" href="{% static "oauth_push_realtime/manifest.json" %}">
    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://www.gstatic.com/firebasejs/4.9.1/firebase.js"></script>
        <script>
          // Initialize Firebase
            var config = {
                apiKey: "AIzaSyC_FdapYOg23_gcqeCNRO6BixE5iJMIX14",
                authDomain: "oauth-push-realtime.firebaseapp.com",
                databaseURL: "https://oauth-push-realtime.firebaseio.com",
                projectId: "oauth-push-realtime",
                storageBucket: "oauth-push-realtime.appspot.com",
                messagingSenderId: "540455205329"
            };
            firebase.initializeApp(config);

            $.ajaxSetup({ 
                 beforeSend: function(xhr, settings) {
                     function getCookie(name) {
                         var cookieValue = null;
                         if (document.cookie && document.cookie != '') {
                             var cookies = document.cookie.split(';');
                             for (var i = 0; i < cookies.length; i++) {
                                 var cookie = jQuery.trim(cookies[i]);
                                 // Does this cookie string begin with the name we want?
                                 if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                     cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                     break;
                                 }
                             }
                         }
                         return cookieValue;
                     }
                     if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                         // Only send the token to relative URLs i.e. locally.
                         xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                     }
                 } 
            });
        </script>

        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand">Oauth Push Realtime</a>
            {% if request.user.is_authenticated %}
                <div>Welcome! {{ request.user.username }}</div>
                <a href="{% url "logout" %}">Logout</a>
            {% else %}
                <a href="{% url "social:begin" "facebook" %}" class="btn">
                  Login with Facebook
                </a>
            {% endif %}
        </nav>

        {% block page_content %}{% endblock %}
    </body>
</html>